body{
    display: flex;
    flex-direction: column;
}
#profileimg{
    border-color: black;
    border-width: 25px;
    border-style: outset;
}
.intro{
    display: flexbox;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    display: flex;

}
.intromsg {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: auto;
    text-align: center;
    background-color: aqua;
    color: brown;
}
